body {
    display: flex;
    flex: 1;
    justify-content: center;
    background-color: white;
}

#container {
    display: inline-grid;
    grid-template-columns: repeat(9,auto);
    background-color: grey;
}

#container > div {
    /* background-color: black; */
    /* aspect-ratio: 1; */
    height: 50px;
    width: 50px;
}

erase-div {
    display: flex;
}

